@charset "utf-8";

.button {
	box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border: 1px solid rgba(0,0,0,0.5);
}

.line {
	width  : 1000px;

	list-style-type: none;
	margin  : 0;
	padding : 0;
}

.line li {
	height : 90px;
	width  : 980px;
	border-left : 20px solid #333;
	background-color : rgba(80,80,80,0);
	margin-top    : 1px;
	margin-bottom : 1px;
	display: block;
	overflow:hidden;
	float  : left;
}

.line li:hover {
  background-color: #888;
  color: #d00;
  border-left: 20px solid #d00;
}
