@charset "utf-8";

body {
	background-color : rgba(60,60,60,1);
	text-align : center;
}

div#container {
	height  : 600px;
	width   : 800px;
	overflow:hidden;

	color: #fff;
	padding: 20px;
	padding-top:15px;
	background: rgba(80,80,80,1);

	border: 4px solid #f0f0f0;
	border-bottom: 5px solid #ccc;
	 /* IE以外なら丸角も！ */
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

div#header {
	height : 55px;
	text-align : center;	
	background-color : rgba(100,0,0,0);
	overflow:hidden;
}

div#header span{
	font-size:40px;
	font-style:normal;
	color: #888;
	text-shadow: 0px 2px 1px #222;
}

div#main {	
	height : 530px;
	width  : 800px;
	float  : left;
	overflow-y:auto;
	overflow-x:hidden;

	background: rgba(80,80,80,1);
	border: 3px solid #444;
	border-right: 2px solid #888;
	border-left: 2px solid #888;
	border-bottom: 2px solid #aaa;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

form#loginForm, form#registerForm {
	margin-top  : 10px;
	margin-left : 10px;
	width:800px;
	border:none;
	text-align: left;
	background-color:rgba(0,0,0,0);
	color:#eee;
	font-size:30px;
	text-shadow: 0px 6px 2px #222;	
}

form#loginForm h1, form#registerForm h1 {
	text-align:center;
	margin-left : 0px;
}

input#useridForm, input#passwdForm {
	font-size:30px;
	width:500px;
}

input#loginSubmit, input#registerSubmit, input#changeForm_login, input#changeForm_register {
	font-size:30px;
}

div#loginResult, div#registerResult {
	color:#d00;
	text-align:center;
}

input#changeForm_register, input#changeForm_login {
	text-align:left;
	margin-left : 10px;
}

form#loginForm, input#changeForm_register {
#	display:block;
}

form#registerForm, input#changeForm_login {
	display:none;
}

.line {
  list-style-type: none;
  margin  : 0;
  padding : 0;
}

.line li {
	height : 60px;
	width  : 780px;
	border-left : 20px solid #333;
	background-color : rgba(80,80,80,0);
	margin-top    : 1px;
	margin-bottom : 1px;
	display: block;
	overflow:hidden;
	float  : left;
}

.line li:hover {
  background-color: #888;
  color: #d00;
  border-left: 20px solid #d00;
}

div#memo {
	height : 60px;
	width  : 755px;	
	text-align : left;
	float  : left;
	background-color : rgba(0,0,0,0); 
}

div#text {
	height : 60px;
	width  : 700px;
	background-color : rgba(0,0,0,0); 
	float  : left;
	overflow:hidden;
}

div#text input[type=text] {
	margin-top  : 15px;
	margin-left : 15px;
	width:670px;
	border:none;
	background-color:rgba(0,0,0,0);
	color:#eee;
	font-size:30px;
	text-shadow: 0px 6px 2px #222;
}

div#setting {
	margin-top  : 10px;
	margin-right : 0px;
	height : 30px;
	width  : 31px;
	text-align : center;	
	background-color : rgba(0,0,0,0);
	float  : left;
	overflow:hidden;

	box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border: 1px solid rgba(0,0,0,0.5);
	background: rgba(0,255,0,0.25);

}

div#footer {
	height : 15px
	width  : 800px
	text-align : left;
	background-color : rgba(0,0,255,1);
}

