@charset "utf-8";

form#listForm {
	height : 550px;
	width  : 1000px;
	overflow-x:hidden;
	overflow-y:auto;

	margin : none;
	padding: none;
	border : none;

	background: rgba(0,0,0,0);

	float  : left;
}

div#todoOutputField, div#todoInputField, div#todoSearchField, div#todoErrorField {
	height   : 90px;
	width    : 955px;	
	overflow : hidden;

	background-color : rgba(0,0,0,0); 
	font-size        : 30px;
	text-align       : left;

	float  : left;
}

div#todoErrorField {
	color            : #d00;
	text-align       : center;
}

div#outputField {
	height : 90px;
	width  : 900px;
	overflow:hidden;

	color            : #eee;
	background-color : rgba(0,0,0,0); 

	float  : left;
}

input#outputSentenceField {
	width:850px;

	margin-top  : 15px;
	margin-left : 15px;
	border      : none;

	color            : #eee;
	background-color : rgba(0,0,0,0); 
	font-size        : 30px;
	text-shadow      : 0px 6px 2px #222;
}

div#outputDateField {
	margin-top  : 10px;
	margin-left : 10px;

	color            : #eee;
	background-color : rgba(0,0,0,0); 
	font-size        : 20px;
}

input#outputDeadlineField {
	width : 110px;

	border : none;

	color            : #eee;
	background-color : rgba(0,0,0,0); 
	font-size        : 20px;
}

div#outputFinishedButton {
	height : 30px;
	width  : 31px;
	overflow:hidden;

	background-color : rgba(0,255,0,0.25);
	margin-top       : 30px;
	margin-right     : 0px;
	text-align       : center;	

	float  : left;
}

input#inputVwordsField, input#inputOwordsField {
	margin-top  : 10px;
	margin-left : 15px;
	border      : none;

	color            : #333;
	background-color : rgba(200,200,200,1);
	font-size        : 30px;
}

input#inputVwordsField {
	width:500px;
}

input#inputOwordsField {
	width:250px;
}

input#inputDeadlineField {
	width : 110px;

	border : none;

	color            : #eee;
	background-color : rgba(200,200,200,0);
	font-size        : 20px;
}

div#inputSubmitButton, div#searchSubmitButton {
	height   : 30px;
	width    : 80px;
	overflow : hidden;

	margin-top   : 30px;
	margin-right : 20px;

	color            : #eee;
	background-color : rgba(80,80,80,0.25);
	font-size        : 25px;
	text-align       : center;

	float : right;
}
